.formacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-formacion {
  width: 95%;
  min-height: 150px;
  border: 2px solid gray;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  .card-title {
    font-size: 16px;
  }
  .card-subtitle {
    font-size: 14px;
    margin-top: 5px;
  }
  .card-text {
    margin-top: 5px;
    font-size: 14px;
  }
}
.titulo-tec {
  text-align: center;
}
.tecnologias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: last baseline;
}
.tec-contenedor {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 20px;
  margin: 5px;
  .tec-img {
    width: 30%;
    border-radius: 10px;
  }
  .tec-nombre {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .formacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card-formacion {
    width: 400px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    .card-title {
      font-size: 20px;
    }
    .card-subtitle {
      font-size: 16px;
      margin-top: 5px;
    }
    .card-text {
      margin-top: 5px;
      font-size: 14px;
    }
  }
  .titulo-tec {
    text-align: center;
  }
  .tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: last baseline;
  }
  .tec-contenedor {
    width: 15%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 20px;
    margin: 5px;
    .tec-img {
      width: 20%;
    }
    .tec-nombre {
      text-align: center;
    }
  }
}
